<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pro05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 클라이언트가 웹브라우저를 이용해서 요청할 서블릿의 가짜 주소 매칭 -->
  <servlet>
  
  	<!-- 같은 이름으로 옛 주소와 새 주소를 매칭 -->
  	<servlet-name>aaa</servlet-name>
  	<!-- 클라이언트가 실제 요청할 서블릿의 경로 -->
  	<servlet-class>sec01.ex01.FirstServlet</servlet-class>
  	
  </servlet>
  
  
  
  <!-- 클라이언트가 요청할 서블릿의 가상 주소 설정 -->
  <servlet-mapping>
  
  	<!-- 같은 이름으로 옛 주소와 새 주소를 매칭 -->
 	<servlet-name>aaa</servlet-name>
  	<!-- /가짜주소-->
  	<url-pattern>/first</url-pattern>
  	
  </servlet-mapping>
  
  
</web-app>